@import "../../node_modules/nav-frontend-typografi-style";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  .typo-normal-mixin();
  color: @navMorkGra;
  font-family: @font-family;
  line-height: @line-height-base;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "toaster"
    "nav"
    "content"
    "footer";
}

.main-head {
  grid-area: header;
}

.content {
  grid-area: content;
  max-width: 100em;
}

.main-nav {
  grid-area: nav;
  margin: 1em 0;
  max-width: 100em;
}

.main-footer {
  grid-area: footer;
  background-color: white;
  color: white;

  > div {
    padding: 1.5em 1em;
    font-size: larger;
  }
}

.toaster {
  grid-area: toaster;
  margin: 0 1.25em;
}

@media (min-width: 500px) {
  .container {
    grid-template-columns: 3fr auto;
    grid-template-rows: min-content min-content min-content 1fr min-content;
    grid-template-areas:
      "header  header"
      "nav     nav"
      "toaster toaster"
      "content content"
      "footer  footer";
  }
}
@media (min-width: 700px) {
  .container {
    grid-template-columns: 1fr 4fr;
  }
}

.main-nav ul {
  padding: 5px 0 0 0;
  margin: 0 20px;
  border-bottom: 1px solid #3e3832;
}
.main-nav ul li {
  width: 10em;
  min-width: 10em;
}
a.link {
  width: 100%;
  display: block;
  text-decoration: none;
  border-bottom: 5px solid transparent;
  margin: 0;
  padding: 0.25em 0 0.25em 0;
}
a.link.active,
a.link:hover {
  text-decoration: none;
  color: #0067c5;
  border-bottom: 5px solid #0067c5;
}
