@li-w: 100%;
@margin-default: 1.5em;
@margin-half: 0.75em;

.eksterne_lenker {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.meny__linker {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "klage_nav lenker";
  background: white;
}

@media (max-width: 800px) {
  .meny__linker {
    grid-template-columns: 1fr;
  }
}

nav.klage__nav {
  grid-area: klage_nav;
  width: 50em;
  margin: 0.5em 1.5em;
  max-width: 50em;
}

.klage__nav ul {
  padding: 5px 0 0 0;
  border-bottom: 1px solid #3e3832;
  margin: 0 0 1em 0;
}

.klage__nav ul li {
  max-width: @li-w;
  margin: 1.5em 0 0 0;

  & a > * {
    padding: 0 1em 0 0;
  }
}

.klage__nav ul li a:link {
  padding: 0 2em 0 0;
  font-size: 0.8em;
  font-weight: normal;
}

.klage__nav ul li a.active:link,
.klage__nav ul li a:hover {
  padding: 0 2em 0 0;
  font-weight: bold;
  white-space: nowrap;
}

ul.klage__lenker {
  grid-area: lenker;
  list-style: none;
  justify-content: space-evenly;
  display: flex;
  flex-flow: wrap;

  li {
    overflow: hidden;
    padding: 0.1em 0.5em;
    white-space: nowrap;
  }

  a {
    margin: 0 0.3em 0 0;
    color: #3e3832;
    font-size: 0.9em;
    display: inline-flex;
    vertical-align: middle;
  }

  a > img {
    margin-top: 5px;
  }
}

.detaljliste {
  list-style: none;
  margin: 0.5em 0;
  padding: 0;

  .detaljelement {
  }
}

.klage__boks {
  background-color: white;
  margin: 0.5em;
  border-radius: 0.5em;

  > div,
  > h1 {
    padding: 0 0.5em;
  }
}

.klage_og_detaljer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  margin: 1em 0 1em 0;

  .oversendingsdetaljer {
    margin: @margin-default 0 0;

    .detaljer {
      display: flex;
      justify-content: space-between;
      max-width: 25em;
    }
  }

  .klage__boks {
    width: 100%;
    background: white;
    border-radius: 0.25em;
    margin: 0 0 0 1em;
    padding: 0.25em 0 1em 1em;

    &.xl {
      min-width: 37em;
    }

    &.md {
      min-width: 19em;
    }

    h1 {
      font-size: 1.25em;
      font-weight: 600;
      font-family: Source Sans Pro, serif;
    }

    &.hoeyrejustert {
      justify-self: right;
    }
  }

  .detaljer {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin: 0 0.25em;

    &.flex-col {
      flex-flow: column;
      justify-content: left;
    }
  }

  .maxw80 {
    max-width: 80%;
  }

  .maxw95 {
    max-width: 95%;
  }

  .input__med_ikon {
    display: block;
    position: relative;
  }

  .ikon__bg {
    border: 1px solid #0067c5;
    position: absolute;
    right: 0;
    width: 2em;
    height: 100%;
    border-radius: 0 0.3em 0.3em 0;
    text-align: center;
    padding: 0.4em 0;
  }

  .input__dato {
    border-radius: 0.45em;
    border: 1px solid #78706a;
    padding: 0.7em;
  }

  .checkbox__med_label {
    display: flex;
    flex-flow: row-reverse;
    justify-content: left;

    input {
      margin: -0.2em 0.75em 0 0;
    }

    label {
      margin: -0.1em 0.25em 0 0.2em;
      font-size: 1.1em;
    }
  }

  .input__submit {
    padding: 0.5em;
    border-radius: 0.4em;
    border: 1px solid #b7b1a9;
    background-color: #b7b1a9;
    color: white;
    font-size: 1.1em;
  }
}

@media (max-width: 1600px) {
  .klage_og_detaljer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin: 1em 0 1em 0;
  }
}

.klagen {
  display: flex;
  margin-top: 1.5em;
  padding: 0 0 0 @margin-default;
  flex-flow: column;
  color: #59514b;
  width: 45em;

  .opplysninger {
    display: flex;
    justify-content: space-between;
    width: 25em;
    padding: 0.5em 0;

    > div.data {
      color: black;
    }
  }
}

.dokumenter {
  border: 1px solid #59514b;
  width: 45em;
  display: flex;
  margin-top: 1.5em;
  padding: 0 0 0 1em;
  flex-flow: column;
  color: #59514b;

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 7em 5em;
    gap: 1em;
    grid-template-rows: 4em 1fr;
  }

  .opplysninger {
    padding: @margin-default 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.liten {
  font-size: 0.85em;
}

.knapp__lenke {
  border: none;
  background: none;
  text-decoration: underline;
  color: #0067c5;
  padding: 0;
  font-size: 1em;
  text-align: left;
}

.knapp__lenke:active {
  color: #0037c5;
  font-weight: bold;
}

.knapp__lenke:disabled,
.knapp__lenke[disabled] {
  text-decoration: none;
  color: #3e3832;
}

.pl {
  padding-left: 0.5em;
}

.pl-2 {
  padding-left: 1em;
}

.dokument-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  &.skjult {
    display: none;
  }
}

table.dokument-tabell {
  background-color: white;
  margin: @margin-half @margin-half 0 @margin-half;
  width: 50em;
  max-width: 50em;
  border-radius: 0.5em 0.5em 0 0;

  th {
    border-bottom: 1px solid #c6c2bf;
  }

  th,
  td {
    padding: 0.5em 0.5em;
    border-bottom: 1px solid #c6c2bf;
  }

  tr:hover,
  td:hover {
    background-color: #e5f3ff;
  }

  th:first-child,
  td:first-child {
    width: 15em;
    max-width: 15em;
    text-align: left;
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: 20em;
    max-width: 20em;
    text-align: left;
  }

  th:nth-child(3),
  td:nth-child(3) {
    max-width: 10em;
    text-align: left;
  }

  th:nth-child(4),
  td:nth-child(4) {
    max-width: 6em;
    text-align: center;

    > * {
      display: inline-flex;
      justify-content: center;
    }

    input[type="checkbox"] {
      content: "";
      display: inline-flex;
      width: 24px;
      height: 24px;
      border-radius: 0 !important;
    }
  }
}

.dokument-tabell__paginator {
  background-color: white;
  margin: 0 @margin-half 1em @margin-half;
  width: 50em;
  max-width: 50em;
  border-radius: 0 0 0.5em 0.5em;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}

@toggle-w: 38px;
@toggle-h: 20px;

.toggle-label {
  padding: 0 0.75em 0 0.4em;

  &.fet {
    text-shadow: 0.02em 0 0 black;
  }
}

.toggle-flex {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding: 1em;
}

.toggle-container {
  display: inline-block;
  width: @toggle-w;
  height: @toggle-h;
  position: relative;
  cursor: pointer;
  background-color: #78706a;
  transition: border-color 300ms;
  border-radius: 6px;

  .real-checkbox {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    border-radius: 3px;

    & + .toggle-button {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: all 100ms;
      border-radius: 3px;

      &::before {
        content: "";
        cursor: pointer;
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-top: 2px;
        margin-left: 2px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        transition: all 100ms ease-in-out;
      }

      &::after {
        content: "";
        color: white;
        position: absolute;
        top: 0;
        right: 4px;
      }
    }

    &:checked + .toggle-button {
      background-color: #0c5ea8;
      border-radius: 6px;

      &::before {
        margin-left: calc(@toggle-w / 2 + 1px);
      }

      &::after {
        content: "";
        color: white;
        position: absolute;
        top: 0;
        left: 2px;
      }
    }
  }
}
