.knapperad {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
  display: none;
}

table {
  width: calc(5 * 14em);
}

tr td,
tr th {
  width: 14em;
  padding: 1em 0;
  max-width: 14em;
  overflow: hidden;
}

div.frist {
  display: grid;
  width: calc(2em + 25px);
  grid-template-columns: 2em 25px;
  padding: 2em 0 0 1.5em;
  cursor: pointer;
}

div.table-lbl {
  margin: 3em 0 0 0.5em;
}

div.piler {
  position: relative;
  cursor: pointer;
}

.pil-opp {
  position: absolute;
  top: 2px;
  left: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.pil-ned {
  position: absolute;
  top: 10px;
  left: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.border-top-gray {
  border-top: 5px solid gray;
}

.border-bottom-gray {
  border-bottom: 5px solid gray;
}

.fw100 {
  width: 100px;
}
.fw120 {
  width: 120px;
}

.etikett-klage {
  background-color: transparent;
  width: 3.5em;
  border-color: red;
}

.etikett-anke {
  background-color: black;
  color: white;
  width: 3.5em;
}
.etikett-sykepenger {
  background-color: #0067c5;
  border-color: black;
}
.etikett-mangler {
  background-color: transparent;
  border-color: red;
}
