@import "~nav-frontend-typografi-style";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav ul {
  display: flex;
  justify-content: left;
  flex-direction: row;
  margin: 0 0 0 15px;
  padding: 0;
  li > {
    list-style: none;
    margin: 20px 10px 0 0;
    text-align: center;
    display: block;
    width: 150px;
    font-size: 1.2em;
    word-break: keep-all;
    > a {
      color: #54483f;
      font-weight: 600;
      text-decoration: none;
      &.active,
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.app {
  .typo-normal-mixin();
  font-family: @font-family;
  line-height: @line-height-base;
}

.container {
  display: grid;
  grid-gap: 20px 0;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "footer";
}

.main-head {
  grid-area: header;
  background-color: #3e3832;
  color: white;
  min-height: 60px;

  > div {
    padding: 15px 10px;
    font-size: larger;
  }
}

.content {
  grid-area: content;
  padding: 10px 15px;
}

.main-nav {
  grid-area: nav;
}

.main-footer {
  grid-area: footer;
  background-color: white;
  color: white;
  min-height: 60px;

  > div {
    padding: 15px 10px;
    font-size: larger;
  }
}

@media (min-width: 500px) {
  .container {
    grid-template-columns: 3fr auto;
    grid-template-rows: 60px 100px 1fr 60px;
    grid-template-areas:
      "header  header"
      "nav     nav"
      "content content"
      "footer  footer";
  }
}
@media (min-width: 700px) {
  .container {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 60px 50px 1fr 60px;
    grid-template-areas:
      "header  header "
      "nav     nav    "
      "content content"
      "footer  footer ";
  }
}
